apiVersion: filter.plainsight.ai/v1alpha1
kind: Pipeline
metadata:
  name: pipeline-rtsp-minimal
spec:
  mode: stream

  filters:
    - name: video-in
      image: ghcr.io/plainsightai/openfilter-video-in:latest
      config:
        - name: sources
          value: "$(RTSP_URL)"
        - name: outputs
          value: tcp://*:5550
